@import 'tailwindcss';

@import 'swiper/css';

@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';

@import 'swiper/css/effect-fade';

@import 'swiper/css/navigation';
body {
    text-align: center;
    margin: 0 auto;
    background-color: white;
    padding: 0px;
}

.container {
    max-width: 1440px;
    /* text-align: center; */
    margin: 0 auto;

    /* padding-top: px !important; */
}

img {
    display: block;
    /* width: 100%; */
    height: auto;
    max-width: 100%;
}

.categories__item {
    width: calc((99.9% - 30px * 3) / 4);
    height: 190px;
}

.line::after {
    content: '';
    display: block;
    width: 90px;
    height: 1px;
    margin-top: 12px;
    background-color: #b35424;
    opacity: 0.6;
}

.bottom-footer {
    padding-top: 19px;
    padding-bottom: 15px;
    color: #706e6e;
    font-size: 13px;
    background-color: #eae5e1;
}

.my_shadow::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 -30px 55px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

/* ------------------- */
